In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

In [4]:
!pip install ipython-sql mysql-connector-python

Requirement already satisfied: ipython-sql in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Requirement already satisfied: prettytable in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.1 MB 3.7 MB/s eta 0:00:05
   --- ------------------------------------ 1.6/16.1 MB 3.5 MB/s eta 0:00:05
   ----- ---------------------------------- 2.1/16.1 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/16.1 MB 3.1 MB/s eta 0:00:05
   -------- ------------------------------- 3.4/16.1 MB 3.3 MB/s eta 0:00:04
   ---------- ----------------------------- 4.2/16.1 MB 3.4 MB/s eta 0:00:04
   ------------ --------------------------- 5.0/16.1 MB 3.4 MB/s eta 0:00:04
   -------------- ------------------------- 5.8/16.1 MB 3.5 MB/s eta 0:00:03
   ---------------- ----------------------- 6.6/16.1 MB 3.5 MB/s eta 0:00:03
   ------------------ --------------------- 7.3/16.1 MB 3.5 MB/s eta 0:00:03
   -------------------- ------------------- 8.1/16.1 MB 3.5 MB/s eta 0:00:03
   ---------------------- ----------------- 8.9/16.1 MB 3.5 MB/s eta 0:00:03
   ----------------------- ---------------- 9.4/16.1 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 10.2/16.1 MB 3.5 MB/s eta 0:00:02
   --------------------------- ------------ 11.0/16.1 MB 3.5 MB/s eta 0:00:02
   ----------------------------- ---------- 11.8/16.1 MB 3.5 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 13.4/16.1 MB 3.6 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [1]:
%load_ext sql

In [3]:
%sql sqlite:///my_database.db

<h1 style="color:red">1. INSERT</h1>

<h3 style="color:#FF69B4">a. INSERT VALUES INTO COLUMNS:</h3>

In [6]:
%%sql
CREATE TABLE students(
s_id INTEGER PRIMARY KEY,
name varchar(255),
age INTEGER CHECK(age>6 AND age<18)    
)

 * sqlite:///my_database.db
(sqlite3.OperationalError) table students already exists
[SQL: CREATE TABLE students(
s_id INTEGER PRIMARY KEY,
name varchar(255),
age INTEGER CHECK(age>6 AND age<18)

)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [7]:
#Ist way:
%%sql
INSERT INTO students(s_id,name,age) VALUES (1,'isa',23)

 * sqlite:///my_database.db
(sqlite3.OperationalError) table students has no column named name
[SQL: INSERT INTO students(s_id,name,age) VALUES (1,'isa',23)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
#2nd way:
INSERT INTO students VALUES(2,"bell",13)

<h3 style="color:#FF69B4">b. INSERT VALUES IN MULTIPLE ROWS: </h3>

In [ ]:
INSERT INTO students VALUES (3,"nana",15),(4,"bee",17),(5,"fiz",16

<H1 style="color:red">2. SELECT:</H1>

<h3 style="color:#FF0D86">a. SELECTING ALL COLUMNS OF A TABLE:</h3>

In [ ]:
%%sql
SELECT * FROM students

<H3 style="color:#FF0D86">b. FILTERING COLUMNS:</H3>

In [ ]:
%%sql
SELECT s_id,name FROM students

<H3 style="color:#FF0D86">c. ALIASING AS</H3>

In [ ]:
%%sql
SELECT s_id AS student_id, name AS student_name FROM students

<H3 style="color:#FF0D86">d. EXPRESSIONS: </H3>

In [ ]:
%%sql
SELECT Name, Age + 102 AS Current_Age FROM titanic_dataset

In [ ]:
%%sql
SELECT Name, SibSp + Parch AS Family FROM titanic_dataset

<H3 style="color:#FF0D86">e. CONSTANTS:</H3>

In [ ]:
%%sql
SELECT Name, 100000 AS Compensation FROM titanic_dataset

<h3 style="color:#FF0D86">f. DISTINCT: </h3>

In [ ]:
#FOR SELECTING SINGLE DISTINCT VALUES
%%sql
SELECT DISTINCT Sex FROM titanic_dataset

In [ ]:
#FOR SELECTING DISTINCT VALUES FROM MULTIPLE ROWS:
%%sql
SELECT DISTINCT Pclass, Embarked FROM titanic_dataset

<H3 style="color:#FF0D86">g. COMPARISON OPERATORS (WHERE, LIKE):</H3>

In [ ]:
%%sql
SELECT * FROM titanic_dataset WHERE Pclass = 3

In [ ]:
%%sql
SELECT * FROM titanic_dataset WHERE Age > 20

<H3 style="color:#FF69B4">h. COMBINING OPERATORS:</H3>

<h5>-AND</h5>

In [ ]:
%%sql
SELECT * FROM titanic_dataset WHERE Pclass = 3 AND Survived = 1

<H3 style="color:#FF0D86">i. BETWEEN OPERATOR</H3>

<H5>a. BETWEEN FOR NUMBERS:</H5>

In [ ]:
%%sql
SELECT * FROM titanic_dataset WHERE Age BETWEEN 10 AND 15

<h5>b. BETWEEN FOR DATES</h5>

In [ ]:
SELECT * FROM titanic_dataset WHERE date_of_boarding BETWEEN '1912-04-10' AND '1912-04-12'

<h5>c. BETWEEN FOR TEXT</h5>

In [ ]:
SELECT * FROM titanic_dataset WHERE Name BETWEEN 'Palsson' AND 'Hewlett'

<H3 style="color:#FF0D86">j. IN:</H3>

In [ ]:
SELECT * FROM bollywood_movies WHERE genre LIKE 'Comedy' OR genre LIKE 'Action'

In [ ]:
SELECT * FROM bollywood_movies WHERE genre = 'Comedy' OR genre = 'Action'

In [ ]:
SELECT * FROM bollywood_movies WHERE genre IN ('Action', 'Comedy','Drama')

<H3 style="color:#FF0D86">k. NOT IN:</H3>

In [ ]:
SELECT * FROM bollywood_movies WHERE genre NOT IN ('Action','Comedy','Drama')

<h3 style="color:#FF69B4">k. WILDCARDS:</h3>

<H3 style="color:#FF0D86">l. WILDCARDS</H3>

<h5>- Movies starting with 'A':</h5>

In [ ]:
SELECT title FROM bollywood_movies WHERE title LIKE 'A%'

<h5>-Movies containing the word 'sum':</h5>

In [ ]:
SELECT title FROM bollywood_movies WHERE title LIKE '%sum%'

<h5>-Movies ending with the letter 'A':</h5>

In [ ]:
SELECT title FROM bollywood_movies WHERE title LIKE '%A'

In [ ]:
SELECT * FROM bollywood_movies 
WHERE actor LIKE '%kumar%' OR actor LIKE '%kapoor'

<h5>-Movies having 5 alphabets:</h5>

In [ ]:
SELECT * FROM bollywood_movies WHERE title LIKE '_____'

<h5>-Movies with 5 alphabets and starting with letter 'A':</h5>

In [ ]:
SELECT * FROM bollywood_movies WHERE title LIKE 'A____'

<h1 style="color:red">3. UPDATE</h1>

<h3 style="color:#FF0D86">a.Update the values of a column to same value:</h3>

In [ ]:
UPDATE students SET class ='7th'  #set the class for all the records as '7th'

<h3 style="color:#FF0D86">b. Updating the value of a specific record, using the conditions:</h3>

In [ ]:
UPDATE students SET class = '4th year' WHERE name LIKE 'isa'

In [ ]:
UPDATE students SET class = "4th year" WHERE name = 'fizu'

<h1 style="color:red">4. DELETE</h1>

<h3 style="color:#FF0D86">a. Delete a specific row:</h3>

In [ ]:
DELETE FROM students WHERE s_id = 4

<h3 style="color:#FF0D86">b. Delete a row using conditions</h3>

In [ ]:
DELETE FROM students WHERE s_id >= 5 AND class LIKE '%11th%'

<h3 style="color:#FF0D86">c. Delete all the rows of a table:</h3>

In [ ]:
INSERT INTO olds VALUES ('1','betty')

In [ ]:
#deletes all the rows
DELETE FROM olds WHERE 1