<h2 style="color:#B00058>1. ABSOLUTE</h2>

<h1 style="color:#820041"> MATHEMATICAL FUNCTIONS:</h1>

<H2 style="color:#FF0D86">1. ABSOLUTE</H2>

In [ ]:
SELECT title, (india_gross) AS Profit FROM bollywood_movies

In [ ]:
SELECT title, ABS((india_gross)) AS Profit FROM bollywood_movies

<H2 style="color:#FF0D86">2. ROUND. </H2>

In [ ]:
SELECT title, (runtime/60) AS runtime_hrs FROM bollywood_movies
#the runtime will be like 2.9333,2.5500,1.5500...

In [ ]:
SELECT title, ROUND((runtime/60)) AS runtime_hrs FROM bollywood_movies
#the runtime will be like 3,3,2...

<h4>To show the decimal places as well:</h4>

In [ ]:
SELECT title, ROUND((runtime/60),1) AS runtime_hrs FROM bollywood_movies
#the runtime will be like 2.9,2.6,1.6...

In [ ]:
SELECT title, ROUND((runtime/60),2) AS runtime_hrs FROM bollywood_movies
#the runtime will be like 2.93,2.55,1.55...

<H2 style="color:#FF0D86">3. CEIL</H2>

In [ ]:
SELECT title, CEIL((runtime/60)) AS runtime_hrs FROM bollywood_movies
#the runtime will be like 3,3,2...

<H2 style="color:#FF0D86">4. FLOOR</H2>

In [ ]:
SELECT title, FLOOR((runtime/60)) AS runtime_hrs FROM bollywood_movies
#the runtime will be like 2,2,1...

<h1 style="color:#820041">STRING FUNCTIONS:</h1>

<H2 style="color:#FF0D86">1. UPPER</H2>

In [ ]:
SELECT UPPER(title) FROM bollywood_movies
#the title of the movies will be in uppercase

<h2 style="color:#FF0D86">2. LOWER</h2>

In [ ]:
SELECT LOWER(title) FROM bollywood_movies
#the title of the movies will be in lowercase

<H2 style="color:#FF0D86">3. LENGTH</H2>

In [ ]:
SELECT LENGTH(title) AS len_movie FROM bollywood_movies

<H2 style="color:#FF0D86">4. CONCAT</H2>

In [ ]:
SELECT title, CONCAT(actor, ' ', director) AS Crew FROM bollywood_movies

<H2 style="color:#FF0D86">5. SUBSTRING</H2>

In [ ]:
SELECT title, SUBSTR(title,1,5) AS short_title FROM bollywood_movies

<H1 style="color:#820041">AGGREGATE FUNCTIONS:</H1>

<H2 style="color:#FF0D86">1. MAX</H2>

In [ ]:
SELECT MAX(budget) FROM bollywood_movies
#gives the max of all the budgets

<H2 style="color:#FF0D86">2. MIN</H2>

In [ ]:
SELECT MIN(budget) FROM bollywood_movies
#gives the min of all the budgets

<H2 style="color:#FF0D86">3. SUM</H2>

In [ ]:
SELECT SUM(india_gross) FROM bollywood_movies
#This query calculates the total gross earnings in India from all movies in the bollywood_movies table.

<H2 style="color:#FF0D86">4. AVG</H2>

In [ ]:
SELECT AVG(india_gross) FROM bollywood_movies

<H2 style="color:#FF0D86">5. COUNT</H2>

<h4>-Including the duplicate values:</h54>

In [ ]:
SELECT COUNT(*) FROM bollywood_movies;
#This query returns the total number of rows in the bollywood_movies table.

<h4>-Excluding the duplicate values i.e. Count with distinct values:</h4>

In [ ]:
SELECT COUNT(DISTINCT actor) FROM bollywood_movies;
#To count the distinct values in the actor column of the bollywood_movies table

In [ ]:
SELECT COUNT(DISTINCT director) FROM bollywood_movies