<h1 style="color:#B00058">SORTING DATA</h1>

<h2 style="color:#FF0D86">1. ORDER BY (USING DESC AND LIMIT):</h2>

<h5>-Calculate the profit for each movie by subtracting the budget from india_gross, then order the movies by profit in descending order.</h5>

In [ ]:
SELECT title, (india_gross - budget) AS Profit FROM bollywood_movies ORDER BY Profit DESC

<H5>-Top 5 movies:</H5>

In [ ]:
SELECT title, (india_gross-budget) AS Profit FROM bollywood_movies ORDER BY PROFIT DESC LIMIT 5

<h5>-Worst 5 movies:</h5>

In [ ]:
SELECT title,(india_gross-budget) AS Profit FROM bollywood_movies ORDER BY Profit LIMIT 5

<H5>-Retrieves all columns from the bollywood_movies table and orders the results by the genre column in ascending order by default.</H5>

In [ ]:
SELECT * FROM bollywood_movies ORDER BY genre;

In [ ]:
SELECT * FROM bollywood_movies ORDER BY genre, title DESC

<h1 style="color:#B00058">GROUPING DATA</h1>

<H2 style="color:#FF0D86">2. GROUP BY:</H2>

<h5>-No of movies each actor has done:</h5>

In [ ]:
SELECT actor, COUNT(*) AS Num_Movies FROM bollywood_movies GROUP BY Actor

<h5>-Top 5 actors with most movies:</h5>

In [ ]:
SELECT Actor, COUNT(*) AS Num_Movies FROM bollywood_movies GROUP BY Actor ORDER BY Num_Movies DESC LIMIT 5

<h5>Genre with highest profit</h5>

In [ ]:
SELECT genre, SUM(India_Gross-Budget) AS Profit FROM bollywood_movies GROUP BY genre ORDER BY Profit DESC LIMIT 1

<h5>-On an average, most profitable director:</h5>

In [ ]:
SELECT director, AVG(India_Gross - Budget) AS Profit FROM bollywood_movies GROUP BY director ORDER BY Profit DESC LIMIT 1

<h5>Top 5 movies with the highest budget </h5>

In [ ]:
SELECT title, Budget FROM bollywood_movies GROUP BY Title ORDER BY Budget DESC LIMIT 5

<h5>Movies whose budget was the lowest</h5>

In [ ]:
SELECT title, Budget FROM bollywood_movies GROUP BY Title ORDER BY Budget LIMIT 5

<h5>actor & director who has earned max profit</h5>

In [ ]:
SELECT Actor, Director, SUM(India_Gross-Budget) AS Profit FROM bollywood_movies GROUP BY Actor, Director ORDER BY Profit DESC LIMIT 1

In [ ]:
SELECT CONCAT(Actor, ' ', Director) AS Crew, SUM(India_Gross - Budget) AS Profit FROM bollywood_movies GROUP BY Crew ORDER BY Profit DESC LIMIT 1

<H5>Top 5 actors who earned most profit</H5>

In [ ]:
SELECT Actor, SUM(India_Gross - Budget) AS Profit FROM bollywood_movies GROUP BY Actor ORDER BY Profit DESC LIMIT 5

<H2 style="color:#FF0D86">3. HAVING:</H2>

In [ ]:
#We use having with group by

<h5>Actors who, on an average, get more than 50 screen releases</h5>

In [ ]:
SELECT actor, AVG(Screens) AS Opening FROM bollywood_movies GROUP BY Actor HAVING Opening > 50 ORDER BY Opening DESC

In [ ]:
SELECT Actor, AVG(Screens) AS Opening FROM bollywood_movies WHERE Opening > 50
#IF WE DO THIS, THERE WILL BE SOME ISSUES WITH IT:
# 1. SQL does not allow referencing an alias in the WHERE clause because the alias is created after the WHERE clause is evaluated.
# 2. Instead, you should use the HAVING clause when filtering aggregated values.
# 3. Aggregation Without GROUP BY:
# Since you are using AVG(Screens), which is an aggregate function, you must include a GROUP BY clause to specify
# how the aggregation is grouped by Actor.

<H2 style="color:#FF0D86">4. CASE:</H2>

<h5>Calculating the profit of each movie</h5>

In [ ]:
SELECT Title , (India_Gross - Budget) As Profit FROM bollywood_movies

<h5>Calculating the profit of each movie and finding the performace</h5>

In [ ]:
SELECT Title , (India_Gross - Budget) As Profit, 
CASE
  WHEN Profit > 10000 THEN 'SuperHit'
  WHEN Profit >5000 AND Profit < 7500 THEN 'HIT'
  WHEN Profit >2500 AND Profit < 5000 THEN 'Avearge'
  ELSE 'FLOP'
END AS Verdict
FROM bollywood_movies


#This gives an error because:
#SQL processes queries in a specific order of execution. The calculation for Profit happens after the CASE statement is evaluated.
#Since Profit doesn't "exist" during the evaluation of the CASE statement, SQL raises an error.

In [ ]:
SELECT Title , (India_Gross - Budget) As Profit, 
CASE
  WHEN (India_Gross - Budget) > 10000 THEN 'SuperHit'
  WHEN (India_Gross - Budget) >5000 AND (India_Gross - Budget) < 7500 THEN 'HIT'
  WHEN (India_Gross - Budget) >2500 AND (India_Gross - Budget) < 5000 THEN 'Avearge'
  ELSE 'FLOP'
END AS Verdict
FROM bollywood_movies