In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///my_database.db

<H2>DDL COMMANDS:</H2>

<H3>1. CREATE</H3>

<H4>-CREATING A TABLE:</H4>

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS users(
    id integer,
    name varchar(255),
    age integer)

 * sqlite:///my_database.db
Done.

[]

<H4>-CREATING A DATABASE:</H4>

In [6]:
# CREATE DATABaSE IF NOT EXISTS databasename

<h3>2.TRUNCATE TABLE:</h3>

In [7]:
%%sql
TRUNCATE TABLE users;

 * sqlite:///my_database.db
(sqlite3.OperationalError) near "TRUNCATE": syntax error
[SQL: TRUNCATE TABLE users;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<h3>3. DROP:</h3>

<h4>-DROP DATABASE:</h4>

In [8]:
# DROP DATABASE databasename

<H4>DROP TABLE:</H4>

In [9]:
%%sql
DROP TABLE users

 * sqlite:///my_database.db
Done.

[]

<h2>CONSTRAINTS:</h2>

<h4>1. NOT NULL:</h4>

In [10]:
%%sql
CREATE TABLE persons(
id integer NOT NULL,
name varchar(255)  
)

 * sqlite:///my_database.db
(sqlite3.OperationalError) table persons already exists
[SQL: CREATE TABLE persons(
id integer NOT NULL,
name varchar(255)
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<H4>2. UNIQUE:</H4>

In [14]:
# /*1ST WAY:*/
%%sql
CREATE TABLE books(
    bid int,
    name varchar(255)
)

SyntaxError: invalid syntax (639820975.py, line 3)

In [ ]:
#2ND WAY:
%%sql
CREATE TABLE shop(
shop_id int,
shop_name varchar(255),
email varchar(255),
UNIQUE (email)
)

<h4>3. PRIMARY KEY:</h4>

In [ ]:
#1st way:
%%sql
CREATE TABLE school(
    id integer PRIMARY KEY,
    name varchar(255)   
)

In [ ]:
#2nd way:
%%sql
CREATE TABLE college(
    id integer,
    name varchar(255),
    PRIMARY KEY(id)
)

<h4>4. FOREIGN KEY:</h4>

In [ ]:
%%sql
CREATE TABLE orders(
    order_id INTEGER,
    user_id INTEGER,
    time_of_order DATETIME,
    PRIMARY KEY(order_id),
    FOREIGN KEY(user_id) REFERENCES users(id)
);
#if u delete the users table, an error will come up

<h4>5. CHECK:</h4>

In [ ]:
%%sql
CREATE TABLE students(
    s_id integer PRIMARY KEY,
    age integer CHECK(age>6 AND age<25)
)

<h4>6. DEFAULT</h4>

In [16]:
#Ist USE:
%%sql
CREATE TABLE passengers(
id integer PRIMARY KEY,
name varchar(255),
gender varchar(255) DEFAULT "others"    
)

 * sqlite:///my_database.db
(sqlite3.OperationalError) table passengers already exists
[SQL: CREATE TABLE passengers(
id integer PRIMARY KEY,
name varchar(255),
gender varchar(255) DEFAULT "others"
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
pip install --upgrade ipython-sql prettytable

In [ ]:
%%sql
CREATE TABLE passenger(
id integer PRIMARY KEY,
name varchar(255),
journey_date datetime DEFAULT CURRENT_TIMESTAMP   
)

In [ ]:
%%sql
SELECT * FROM passenger;

<h4>7. AUTO INCREMENT</h4>

In [ ]:
%%sql
CREATE TABLE olds(
id integer PRIMARY KEY AUTOINCREMENT,
name varchar(255) NOT NULL
)

<H2>4. ALTER </H2>

<H3>a. ADD COLUMN:</H3>

In [15]:
%%sql
ALTER TABLE school ADD COLUMN class_room varchar(255) NOT NULL

 * sqlite:///my_database.db
Done.

KeyError: 'DEFAULT'

<h3>b. DROP A COLUMN</h3>

In [17]:
%%sql
ALTER TABLE school DROP COLUMN class_room

 * sqlite:///my_database.db
Done.

[]

<H3>c. MODIFY COLUMN</H3>

In [19]:
%%sql
ALTER TABLE school MODIFY COLUMN id varchar(255)

 * sqlite:///my_database.db
(sqlite3.OperationalError) near "MODIFY": syntax error
[SQL: ALTER TABLE school MODIFY COLUMN id varchar(255)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)